<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>

    <form th:method="POST" th:action="@{/courses/filtercourses2}">
        <input th:type="text" name="full-text">
        <button type="submit">Filter</button>
    </form>

    <form th:method="POST" th:action="@{/courses/filtercourses}">
        <select name="filter-item">
            <div th:each="fil:${typefilter}">
                <option th:text="${fil}" th:value="${fil}" selected></option>
            </div>
        </select>

        <button type="submit">Filter</button>
    </form>


    <form th:method="POST" th:action="@{/courses}">
    <div th:each="course:${courses}">
        <div>
            <label>
                <input type="radio" name="courseId" th:value="${course.getCourseId()}" th:text="${course.getName()}" checked>
            </label>
            <div style="display: inline-block" sec:authorize="hasRole('ROLE_ADMIN')" class="editdelete">
                <a th:href="@{/courses/edit-form/{id}(id = ${course.getCourseId()})}">Edit</a>
                <span> </span>
                <a th:href="@{/courses/delete/{id}(id = ${course.getCourseId()})}">Delete</a>
            </div>
            <br/>
        </div>

    </div>
    <br/>
    <button type="submit">Submit</button>
    </form>
    <div sec:authorize="hasRole('ROLE_ADMIN')" class="addcourse">
        <a th:href="@{/courses/add}"><button>Add New</button></a>
    </div>
</main>
</body>
</html>