<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add new Student to Course</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Student Enrollment - Select the Student </h1>
</header>
<section>

    <h2>Select the student to enroll:</h2>
    <form th:method="POST" th:action="@{/addStudent}">
        <div th:if="${students.size()!=0}">
            <div th:each="student:${students}">
                <label>
                    <input type="radio" name="size" th:value="${student.getId()}" th:text="${student.getName()}" checked>
                </label>
                <br/>
            </div>
            <br/>
            <button type="submit">Submit</button>
        </div>
    </form>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href='/createStudent' type='button'>Create New Student</a> <br/> <br/>
    </div>


</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Enrollment Status
            </th>
        </tr>
        <tr>
            <td><b>Course Id</b></td>
            <td th:text="${courseid}"></td>
        </tr>
    </table>
</aside>

<script>

</script>
</body>
</html>