<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>
    <form th:method="POST" th:action="@{/courses}">
    <div th:each="course:${courses}">
        <label>
            <input type="radio" name="courseId" th:value="${course.getCourseId()}" th:text="${course.getName()}" checked>
        </label>
        <br/>
    </div>
    <br/>
    <button type="submit">Submit</button>
    </form>
</main>
</body>
</html>